<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113990068948-s9l4nof5nhpr721k8f1gqh7beo95qm13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113990068948-s9l4nof5nhpr721k8f1gqh7beo95qm13</string>
	<key>API_KEY</key>
	<string>AIzaSyBX1CmHTpDv_AtjM09pD4TazTCZJsljVQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>113990068948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pooya.brain.dev.IOS-Swift-UICollectionViewDynamicCustom</string>
	<key>PROJECT_ID</key>
	<string>customlogin-d0ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-d0ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113990068948:ios:31fdeec77fefd010a0e941</string>
	<key>DATABASE_URL</key>
	<string>https://customlogin-d0ba0.firebaseio.com</string>
</dict>
</plist>